@using Barly.Business;
@model Barly.Models.SearchResultModel
@{
    ViewBag.Title = "Petit Spot - Recherche";
}
<script>

    var positions =[
        @foreach (KeyValuePair<double,double> location in Model.Positions)
            {
        <text>{
            Latitude: @location.Key.ToString(System.Globalization.CultureInfo.InvariantCulture),
            Longitude: @location.Value.ToString(System.Globalization.CultureInfo.InvariantCulture),
        },</text>
        }
    ];

    var steps = [
    @foreach (var step in Model.Steps)
        {
        <text>{
        Latitude: @step.Key.ToString(System.Globalization.CultureInfo.InvariantCulture),
        Longitude: @step.Value.ToString(System.Globalization.CultureInfo.InvariantCulture),
    },</text>
        }
    ];

    function r(f) { /in/.test(document.readyState) ? setTimeout('r(' + f + ')', 9) : f() }
    function initApplication(){
        r(function(){
            mode = "@Model.Mode";
            initApp();
        });
    };
</script>
<script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD61F5jFB_8ql02dWz6ql73Ve076nTEuQE&callback=initApplication"></script>
<script type="text/javascript" async defer src="http://www.geocodezip.com/scripts/v3_epoly.js"></script>
<main class="mdl-layout__content home">
    <div class="search-content map">
        <div id="bar-detail" class="mdl-card">
            <div id="bar-detail-title" class="mdl-card__title" style="background: url('') center / cover;">
                <h2 id="bar-detail-name" class="mdl-card__title-text">@*Name*@</h2>
            </div>
            <div class="scrollable">
                <div class="mdl-card-list mdl-card-state">
                    <ul class="mdl-list">
                        <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                <i id="bar-detail-openingstatus-icon" class="material-icons mdl-list__item-icon">
                                    @*(IsOpenNow?"schedule":"watch_later")*@
                                </i>
                                <span id="bar-detail-openingstatus">
                                    @*(@IsOpenNow?:"Ouvert":"Fermé") en ce moment*@
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="mdl-card-list">
                    <ul id="bar-detail-hours" class="mdl-list"></ul>
                </div>
                <div class="mdl-card-list mdl-card-adress">
                    <a id="bar-detail-address-link" href="http://maps.google.com/maps?daddr=0,1" target="_blank">
                        <ul class="mdl-list">
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">directions_run</i>
                                    <span id="bar-detail-address">@*Address*@</span>
                                </span>
                                <span class="mdl-list__item-secondary-action">
                                    <i class="material-icons">navigate_next</i>
                                </span>
                            </li>
                        </ul>
                    </a>
                </div>
                <div id="bar-external-foursquare" class="mdl-card-foursquare" style="display: none;">
                    <div class="mdl-card-list">
                        <ul class="mdl-list">
                            <li id="bar-external-foursquare-price" class="mdl-list__item foursquare-price">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">euro_symbol</i>
                                    <span id="bar-external-foursquare-price-value" class="foursquare-price-value"></span>
                                </span>
                            </li>
                            <li id="bar-external-foursquare-phone" class="mdl-list__item foursquare-phone">
                                <a href="tel:" target="_blank" id="bar-external-foursquare-phone-control" class="foursquare-phone-control">
                                    <span class="mdl-list__item-primary-content">
                                        <i class="material-icons mdl-list__item-icon">phone</i>
                                        <span id="bar-external-foursquare-phone-value" class="foursquare-phone-value"></span>
                                    </span>
                                    <span class="mdl-list__item-secondary-action">
                                        <i class="material-icons">navigate_next</i>
                                    </span>
                                </a>
                            </li>
                            <li id="bar-external-foursquare-website" class="mdl-list__item foursquare-website">
                                <a href="#" target="_blank" id="bar-external-foursquare-website-control" class="foursquare-website-control">
                                    <span class="mdl-list__item-primary-content">
                                        <i class="material-icons mdl-list__item-icon">language</i>
                                        <span id="bar-external-foursquare-website-value" class="foursquare-website-value"></span>
                                    </span>
                                    <span class="mdl-list__item-secondary-action">
                                        <i class="material-icons">navigate_next</i>
                                    </span>
                                </a>
                            </li>
                            <li class="mdl-list__item">
                                <a id="bar-detail-foursquare-link" href="#" target="_blank">
                                    <span class="mdl-list__item-primary-content">
                                        <i class="material-icons mdl-list__item-icon">store</i>
                                        Voir sur Foursquare
                                    </span>
                                    <span class="mdl-list__item-secondary-action">
                                        <i class="material-icons">navigate_next</i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="bar-detail-google" class="mdl-card-google" style="display: none;">
                    <div class="mdl-card-list">
                        <ul class="mdl-list"></ul>
                    </div>
                </div>
            </div>
            <div class="mdl-card__menu">
                @*<a class="closer mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" href="http://www.facebook.com/sharer/sharer.php?u=@Uri.EscapeDataString("http://" + Request.Url.Host + "/Home/SearchFromBarId?id=" + location.Id)&title=@Uri.EscapeDataString("Petit Spot - " + @location.Name)" target="_blank">
                    <i class="material-icons">share</i>
                    </a>*@
                <a class="close-button closer mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">close</i>
                </a>
            </div>
        </div>
        <div id="bar-list" class="mdl-grid"></div>
        <div id="bar-map"></div>
        <div id="loader">
            <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
    </div>
</main>