@using Barly.Business;
@model Barly.Models.SearchResultModel
@{
    ViewBag.Title = "Barly - Recherche";
}
<main class="mdl-layout__content home">
    <div class="search-content map">
        <div id="bar-map"></div>
        <div id="bar-list" class="mdl-grid">
            @foreach (Location location in Model.Locations)
            {
                <div data-id="@location.Id" class="bar mdl-card mdl-shadow--2dp mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card__title" style="background: url('@location.Picture') center / cover;">
                        <h2 class="mdl-card__title-text">@location.Name</h2>
                    </div>

                    <div class="closer mdl-card-list mdl-card-state">
                        <ul class="mdl-list">
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">@(location.IsOpenNow ? "schedule" : "watch_later")</i>
                                    @(location.IsOpenNow ? "Ouvert" : "Fermé") en ce moment
                                </span>
                            </li>
                        </ul>
                        @*<br />*@
                        @*@Html.Raw(location.Description)*@
                    </div>
                    <div class="closer mdl-card-list">
                        <ul class="mdl-list">
                            @foreach (OpeningTime openingTime in location.OpeningTimes)
                            {
                                <li class="mdl-list__item mdl-list__item--two-line @(openingTime.IsToday?"active":"")">
                                    <span class="mdl-list__item-primary-content">
                                        <i class="material-icons mdl-list__item-icon">@(openingTime.IsOpen ? "local_bar" : "")</i>
                                        <span>@openingTime.DayOfWeekMessage</span>
                                        <span class="mdl-list__item-sub-title">@openingTime.HoursFormat</span>
                                    </span>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="closer mdl-card-list mdl-card-adress">
                        <a href="http://maps.google.com/maps?daddr=@location.Latitude,@location.Longitude" target="_blank">
                            <ul class="mdl-list">
                                <li class="mdl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                        <i class="material-icons mdl-list__item-icon">directions_run</i>
                                        @Html.Raw(location.Address)
                                    </span>
                                    <span class="mdl-list__item-secondary-action">
                                        @*<span class="mdl-list__item-secondary-info">Actor</span>*@
                                        <i class="material-icons">navigate_next</i>
                                    </span>
                                </li>
                            </ul>
                        </a>
                    </div>
                    <div class="mdl-card__menu">
                        @*<a class="opener mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" onclick="$('.bar[data-id=@location.Id]').addClass('open');">
                                <i class="material-icons">search</i>
                            </a>*@
                        <a class="closer mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" href="http://www.facebook.com/sharer/sharer.php?u=@Uri.EscapeDataString("http://" + Request.Url.Host + "/Home/SearchFromBarId?id=" + location.Id)&title=@Uri.EscapeDataString("Barly - " + @location.Name)" target="_blank">
                            <i class="material-icons">share</i>
                        </a>
                        <a class="close-button closer mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                            <i class="material-icons">close</i>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
    <script>
        var locations = [
            @foreach (Location location in Model.Locations)
        {
        <text>{
                Id: @location.Id,
                Name: "@location.Name",
                @*Schedule: "@Html.Raw(location.Schedule)",*@
                Picture: "@location.Picture",
                Address: "@location.Address",
                Latitude: @location.Latitude.ToString(System.Globalization.CultureInfo.InvariantCulture),
                Longitude: @location.Longitude.ToString(System.Globalization.CultureInfo.InvariantCulture),
            },</text>
        }
        ];
        //console.log(locations);
        $(function(){
            if (locations.length>0){
                $('#maplistTrigger').show();
                $('#maplistTrigger').click(function(){
                    $('.search-content').toggleClass('map');
                    $('.search-content').toggleClass('list');

                    if ($('.search-content').hasClass('list')){
                        $('#maplistTrigger .material-icons').text('map');
                    } else {
                        $('#maplistTrigger .material-icons').text('border_all');
                    }
                });

                $('.bar').click(function(){
                    var bar = $(this);
                    if (!bar.hasClass('open')) {
                        bar.addClass('open');
                        $('header').addClass('hide');
                    }
                });

                $('.bar .close-button').click(function(e){
                    $(this).closest('.bar').removeClass('open');
                    $('header').removeClass('hide');
                    e.preventDefault();
                    return false;
                });
            }
        });

        function initializeMap() {
            var mapStyle = [{ "featureType": "landscape", "stylers": [{ "hue": "#FFBB00" }, { "saturation": 43.400000000000006 }, { "lightness": 37.599999999999994 }, { "gamma": 1 }] }, { "featureType": "road.highway", "stylers": [{ "hue": "#FFC200" }, { "saturation": -61.8 }, { "lightness": 45.599999999999994 }, { "gamma": 1 }] }, { "featureType": "road.arterial", "stylers": [{ "hue": "#FF0300" }, { "saturation": -100 }, { "lightness": 51.19999999999999 }, { "gamma": 1 }] }, { "featureType": "road.local", "stylers": [{ "hue": "#FF0300" }, { "saturation": -100 }, { "lightness": 52 }, { "gamma": 1 }] }, { "featureType": "water", "stylers": [{ "hue": "#0078FF" }, { "saturation": -13.200000000000003 }, { "lightness": 2.4000000000000057 }, { "gamma": 1 }] }, { "featureType": "poi", "stylers": [{ "hue": "#00FF6A" }, { "saturation": -1.0989010989011234 }, { "lightness": 11.200000000000017 }, { "gamma": 1 }] }];

            var mapOptions = {
                zoom: 3,
                styles: mapStyle,
                disableDefaultUI: true
            };
            var map = new google.maps.Map(document.getElementById('bar-map'), mapOptions);
            //create empty LatLngBounds object
            var bounds = new google.maps.LatLngBounds();
            var infowindow = new google.maps.InfoWindow();

            var markers = [];
            for (i = 0; i < locations.length; i++) {
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i].Latitude, locations[i].Longitude),
                    map: map,
                    //icon:'/images/ic_local_bar_2x.png'
                });
                markers.push(marker);

                //extend the bounds to include each marker's position
                bounds.extend(marker.position);

                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infowindow.setContent(locations[i].Name);
                        infowindow.open(map, marker);
                        $('.bar[data-id="'+locations[i].Id+'"]').addClass('open');
                        $('header').addClass('hide');
                    }
                })(marker, i));
            }
            /// need api key
            var markerCluster = new MarkerClusterer(map, markers);

            //now fit the map to the newly inclusive bounds
            map.fitBounds(bounds);

        }
    </script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD61F5jFB_8ql02dWz6ql73Ve076nTEuQE"></script>
    <script>
        if (locations.length>0){
            google.maps.event.addDomListener(window, 'load', initializeMap);
        } else {
            r(function(){
                toastAlert("Aucun bar n'est disponible pour cette recherche");
            });
        }
        function r(f){/in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}
    </script>
</main>