<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/mdl")
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <style>
        #filters {
            display: inline-block;
            line-height: 42px;
        }
    </style>
</head>
<body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script>
        function toastAlert(message) {
            var snackbarContainer = document.querySelector('#toast');
            console.log(snackbarContainer.MaterialSnackbar);
            snackbarContainer.MaterialSnackbar.showSnackbar({ message: message });
        }
    </script>

    <div class="wrapper">
        <div id="toast" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>

        <!-- Always shows a header, even in smaller screens. -->
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <!-- Title -->
                    <span class="mdl-layout-title">
                        <text>Barly</text>
                    </span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation. We hide it in small screens. -->
                    <nav class="mdl-navigation">
                        <a id="filterTrigger" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="display:none;"
                           href="/Home/Filter?@Request.QueryString">
                            <i class="material-icons">build</i>
                        </a>
                        <button id="maplistTrigger" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-cell--hide-desktop" style="display:none;">
                            <i class="material-icons">border_all</i>
                        </button>
                        @*<a class="mdl-button mdl-js-button mdl-button--raised sign-in" href="/Authentication/SignIn">
                                Sign In
                            </a>
                            <a class="mdl-button mdl-js-button mdl-button--raised sign-up" href="/Authentication/SignUp">
                                Sign Up
                            </a>*@
                    </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">
                    @Html.ActionLink("Barly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/Home/Index">Accueil</a>
                    <a class="mdl-navigation__link" href="/Home/Filter">Proximité</a>
                    <a class="mdl-navigation__link" href="/Home/Between">Mi-chemin</a>
                    <a class="mdl-navigation__link" href="/Home/Tutorial">Tutoriel</a>
                    <a class="mdl-navigation__link" href="/Home/About">A propos</a>
                </nav>
            </div>
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/mdl")
    @RenderSection("scripts", required: false)
</body>
</html>
